body {
  margin: 0;
  padding: 0;
  color: #292f36;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.header {
  height: 360px;
  & .header-title {
    position: absolute;
    background-color: rgba(18, 72, 120, 0.8);
    color: #fff;
    padding: 0 1rem;
    top: 2rem;
    left: 2rem;
  }

  & .header-banner {
    background-color: #333;
    background-image: url("https://images.squarespace-cdn.com/content/v1/58b2f9802e69cf75a41179db/1524244173972-IJXEUAI238UAYEYZSYGS/ke17ZwdGBToddI8pDm48kF8LQNpfORHiz8nbszVBpA17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmHHRMqniMJbuwH8EZRFFu5aV6lDaIZ2bC5nfnM0n2DvQ_Vy7lYb4IFu31Gc-eufZx/image-asset.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
}

.navigation {
  width: 100%;
  height: 60px;
  background: #292f36;
  z-index: 10;

  & div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
  }

  & ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;

    & li {
      display: inline-block;
      line-height: 60px;
      margin-left: 10px;

      & a {
        text-decoration: none;
        color: #a9abae;
      }
    }
  }
}

.visible-title {
  visibility: visible;
}

.content {
  margin: 0 auto;
  padding: 4rem 0;
  width: 960px;
  max-width: 100%;
}

article {
  width: 720px;
  & p:first-of-type {
    margin-top: 0;
  }
}

p img {
  max-width: 100%;
}

footer {
  background: #292f36;
  width: 100%;
  height: 80px;
}

@media only screen and (max-width: 960px) {
  .content {
    padding: 2rem 0;
  }
  article {
    margin: 0 auto;
    width: 96%;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
}
